@model ServerServices.EmailTemplates.UserCreated

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <title>Bem-vindo</title>
  </head>
  <body>
    <div> Caro @Model.Name, </div>
    <div><br>
    </div>
    <div>Uma nova conta foi criada para você no NetRisk. Por favor troque a sua senha em: @Model.Link . </div>
    <div><br>
    </div>
    <div><br>
    </div>
  </body>
</html>
