@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "_Layout";
}

<h2>Reset Password Confirmation</h2>

<p>Your password has been successfully reset.</p>
<p>You can now login with your new password.</p>

<!--a asp-controller="Account" asp-action="Login" class="btn btn-primary">Go to Login</!a-->

