@using WebSite.ExtensionMethods
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Html.Translate("Welcome")</h1>
    <p>@Html.Translate("This site offers a place to download the NetRisk app.")</p>
</div>